@page "/userlist"
@using TaskManager.Shared.Models
@using TaskManager.Client.Services

@inject UserService userService
@inject TaskService taskService

<h3>Lista de Usuarios</h3>

@if(users == null)
{
    <p>Cargando...</p>
}
else if(!users.Any())
{
    <p>No hay usuarios disponibles.</p>
}
else
{
    <ul class="list-group">
        @foreach(var user in users)
        {
            <li class="list-group-item">
                @user.Name - @user.Email
            </li>
        }
    </ul>
}

@code {
    private List<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetUsersAsync();
    }
}
