@page "/users"
@using TaskManager.Client.Services
@using UserModel = TaskManager.Shared.Models.User
@inject UserService UserService

<h3 class="mb-4">Usuarios</h3>

@if (users == null)
{
    <p>Cargando usuarios...</p>
}
else if (!users.Any())
{
    <p>No hay usuarios registrados.</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var user in users)
        {
            <div class="col">
                <UserCard User="user" />
            </div>
        }
    </div>
}

@code {
    private List<UserModel> users = new();

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }
}
